<div class="container" ng-controller="AdController">
    <div class="row" ng-if="listMyAds.length">

        <h4 class="col-xs-12">Ваши обьявления:</h4>

        <div class="product col-xs-12 col-sm-4" ng-repeat="ad in listMyAds">
            <a ui-sref="app.adDetails({id:ad._id})" ui-sref-opts="{inherit: false}" class="image">
                <img ng-if="ad.img" ng-src="{{ad.img}}" alt="{{ad.title}}" class="img-responsive center-block">
                <img ng-if="!ad.img" ng-src="../images/no_photo.jpg" alt="{{ad.title}}" class="img-responsive center-block">
            </a>
            <h4 class="description">
                <a ui-sref="app.adDetails({id:ad._id})">
                    {{ad.title | limitTo: 120}}{{ad.title.length > 120 ? '...' : ''}}<br>
                    <small class="date">{{ad.created | date: 'longDate'}}</small>
                </a>
            </h4>

            <div class="footer clearfix">
                <h5 class="pull-left"><span class="label label-success" style="font-size:1.45em;">{{ad.price}} Грн</span></h5>
                <div class="btn-group pull-right" role="group">
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger" ng-click="deleteAd(ad._id)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <a ui-sref="app.adEdit({id:ad._id})" class="btn btn-info">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" ng-if="observeAds.length">
        <h4 class="col-xs-12">Избранные: </h4>

        <div class="product col-xs-12 col-sm-4" ng-repeat="ad in observeAds">
            <a ui-sref="app.adDetails({id:ad._id})" ui-sref-opts="{inherit: false}" class="image">
                <img ng-if="ad.img" ng-src="{{ad.img}}" alt="{{ad.title}}" class="img-responsive center-block">
                <img ng-if="!ad.img" ng-src="../images/no_photo.jpg" alt="{{ad.title}}" class="img-responsive center-block">
            </a>
            <h4 class="description">
                <a ui-sref="app.adDetails({id:ad._id})">
                    {{ad.title | limitTo: 120}}{{ad.title.length > 120 ? '...' : ''}}<br>
                    <small class="date">{{ad.created | date: 'longDate'}}</small>
                </a>
            </h4>

            <div class="footer clearfix">
                <h5 class="pull-left"><span class="label label-success" style="font-size:1.45em;">{{ad.price}} Грн</span></h5>
                <button class="btn btn-info pull-right" ng-click="unsubscribe(ad._id)">
                    <span class="glyphicon glyphicon-star"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <h4 class="col-xs-12" ng-if="!listMyAds.length">
            Ваших обьявлений пока нет
        </h4>
    </div>
    <div class="row">
        <h4 class="col-xs-12" ng-if="!observeAds.length">
            Избранных обьявлений пока нет
        </h4>
    </div>

</div>